
/* -----------------------------------------------------------------------

Family Education Dashboard Stylesheet

This stylesheet is inspired heavily from the Blueprint CSS Framework as 
well as the following:

 * http://webtypography.net/toc/
 * http://www.kadavy.net/blog/posts/d4h-color-theory/


From top to bottom the sections below are:
 * ## Resets 

----------------------------------------------------------------------- */

/* Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}



/* Typography */

body {  font-size:75%;
        color:#503e2b;
        background:#D3ECFB;
        font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    }
h1, h2, h3, h4, h5, h6 {
        font-weight:normal;
        color:#503e2b;
    }
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}


/* overrides */

html { overflow-y: scroll; }

.container {
    background: #ffffff;
    margin: 10px auto;
    width: 760px;
}

#push {
    height: 160px;
    width: 210px;
    background: #fff;
    float: left;
}

.header h1 { font-size: 3.5em; color: #503e2b; }
.section h2 { padding-left: 5px; background-color: #eee; cursor: pointer;}
.section h2 a { color: #503e2b; text-decoration:none; display: block; }

div#menu { margin-bottom: 10px; }

.lang { padding: 3px; font-weight: bold;}
.work { color: #555555; background: #A8A8D6 }
.play { color: #555555; background: #A8D6CD }
.hack { color: #555555; background: #BBD6A8 }
.libre { color: #555555; background: #D6BBA8 }
.edu { color: #555555; background: #D6A8CD }

.spreadsheet { background-color : #DFEAEC }

/* report card */
.row{
    overflow:hidden;
}
.report{
    margin-left: 150px;
    background: #fff;
    position:relative;
}
.subtitle {
    position:absolute;
}
.percent-box {
    margin: 25px;
    background: yellow;
    height: 75px;
    width: 100px;
    float: left;
}

.inline-table {
    float:right;
    display: inline-block;
    position: relative;
    margin: 35px 15px 0 0
    }
.inline-table div {
    }
.inline-table table{ 
    background-color : #DFEAEC ;
    margin: 0;
    }
.inline-table thead{
    font-style: bold;
}


.row1 {  }
.row2 { background-color : #D1F6FB }

hr {
    
}
