{% extends 'blog/base.html' %}

{% block pagetitle %}{{ object.id }}{% endblock %}
{% block title %}An anon student{% endblock %}




{% block primary %}
<ul>
    <li>hr = {{ object.hr }}</li>
    <li>grade = {{ object.grade }}</li>
    <li>program = {{ object.program }}</li>
    <li>att = {{ object.att }}</li>
    <li>susp = {{ object.susp }}</li>
    <li>ela = {{ object.ela }}</li>
    <li>math = {{ object.math }}</li>
    <li>null1 = {{ object.null1 }}</li>
    <li>fname = {{ object.fname }}</li>
    <li>field = {{ object.field }}</li>
    <li>lname = {{ object.lname }}</li>
    <li>race = {{ object.race }}</li>
    <li>ishisp = {{ object.ishisp }}</li>
    <li>gen = {{ object.gen }}</li>
    <li>homelang = {{ object.homelang }}</li>
    <li>sped = {{ object.sped }}</li>
    <li>lowincome = {{ object.lowincome }}</li>
    <li>entrydate = {{ object.entrydate }}</li>
    <li>entrygr = {{ object.entrygr }}</li>
    <li>null2 = {{ object.null2 }}</li>
    <li>dob1 = {{ object.dob1 }}</li>
    <li>overage = {{ object.overage }}</li>
    <li>null3 = {{ object.null3 }}</li>
    <li>gkdibels = {{ object.gkdibels }}</li>
    <li>g1dibels = {{ object.g1dibels }}</li>
    <li>g2dibels = {{ object.g2dibels }}</li>
    <li>null4 = {{ object.null4 }}</li>
    <li>g3ela = {{ object.g3ela }}</li>
    <li>g4ela = {{ object.g4ela }}</li>
    <li>g5ela = {{ object.g5ela }}</li>
    <li>g6ela = {{ object.g6ela }}</li>
    <li>g7ela = {{ object.g7ela }}</li>
    <li>null5 = {{ object.null5 }}</li>
    <li>g3math = {{ object.g3math }}</li>
    <li>g4math = {{ object.g4math }}</li>
    <li>g5math = {{ object.g5math }}</li>
    <li>g6math = {{ object.g6math }}</li>
    <li>g7math = {{ object.g7math }}</li>
    <li>null6 = {{ object.null6 }}</li>
    <li>att2 = {{ object.att2 }}</li>
    <li>null7 = {{ object.null7 }}</li>
    <li>susp2 = {{ object.susp2 }}</li>
    <li>null8 = {{ object.null8 }}</li>
    <li>ml = {{ object.ml }}</li>
    <li>eph = {{ object.eph }}</li>
    <li>b_and_g = {{ object.b_and_g }}</li>
    <li>aceit = {{ object.aceit }}</li>
    <li>hatian = {{ object.hatian }}</li>
    <li>has = {{ object.has }}</li>
    <li>cs = {{ object.cs }}</li>
    <li>aftsh = {{ object.aftsh }}</li>
    <li>null9 = {{ object.null9 }}</li>
    <li>grade2 = {{ object.grade2 }}</li>
    <li>exit_date = {{ object.exit_date }}</li>
    <li>id_local = {{ object.id_local }}</li>
    <li>id_state = {{ object.id_state }}</li>
    <li>dob2 = {{ object.dob2 }}</li>
    <li>g3dibels = {{ object.g3dibels }}</li>
    <li>g4grade = {{ object.g4grade }}</li>
    <li>g5grade = {{ object.g5grade }}</li>
    <li>g6grade = {{ object.g6grade }}</li>
    <li>yog = {{ object.yog }}</li>
    <li>question1 = {{ object.question1 }}</li>
    <li>homeroom = {{ object.homeroom }}</li>
    <li>entryyear = {{ object.entryyear }}</li>
    <li>cohort = {{ object.cohort }}</li>
    <li>g3ela1 = {{ object.g3ela1 }}</li>
    <li>g4ela1 = {{ object.g4ela1 }}</li>
    <li>g4ela2 = {{ object.g4ela2 }}</li>
    <li>g5ela1 = {{ object.g5ela1 }}</li>
    <li>g5ela2 = {{ object.g5ela2 }}</li>
    <li>g6ela1 = {{ object.g6ela1 }}</li>
    <li>g6ela2 = {{ object.g6ela2 }}</li>
    <li>g7ela1 = {{ object.g7ela1 }}</li>
    <li>g7ela2 = {{ object.g7ela2 }}</li>
    <li>g3math2 = {{ object.g3math2 }}</li>
    <li>g4math1 = {{ object.g4math1 }}</li>
    <li>g4math2 = {{ object.g4math2 }}</li>
    <li>g5math1 = {{ object.g5math1 }}</li>
    <li>g5math2 = {{ object.g5math2 }}</li>
    <li>g4grade1 = {{ object.g4grade1 }}</li>
    <li>g5grade1 = {{ object.g5grade1 }}</li>
    <li>g6grade1 = {{ object.g6grade1 }}</li>
    <li>g4grade2 = {{ object.g4grade2 }}</li>
    <li>g5grade2 = {{ object.g5grade2 }}</li>
    <li>g6grade2 = {{ object.g6grade2 }}</li>
    <li>x21st_cent = {{ object.x21st_cent }}</li>
    <li>b_and_gclub = {{ object.b_and_gclub }}</li>
    <li>eph1 = {{ object.eph1 }}</li>
    <li>mysticlc = {{ object.mysticlc }}</li>
    <li>ymca = {{ object.ymca }}</li>
    <li>homeworkhelp = {{ object.homeworkhelp }}</li>
    <li>hasclub = {{ object.hasclub }}</li>
    <li>hasreading = {{ object.hasreading }}</li>
    <li>hasmath = {{ object.hasmath }}</li>
    <li>hasesl = {{ object.hasesl }}</li>
    <li>schdayreading = {{ object.schdayreading }}</li>
    <li>schdaymath = {{ object.schdaymath }}</li>
    <li>schdayell = {{ object.schdayell }}</li>
    <li>spedela = {{ object.spedela }}</li>
    <li>spedmath = {{ object.spedmath }}</li>
    <li>program1 = {{ object.program1 }}</li>
    <li>hbase = {{ object.hbase }}</li>
</ul>
{% endblock %}
