{% extends 'base.html' %}

{% block pagetitle %}{% endblock %}
{% block title %}Healey Students by Grade{% endblock %}




{% block primary %}
{% for graph in graphs %}
    <img src="{{ graph.math_x_ela }}"/>
    {{ graph.colors }}
{% endfor %}
<div class="contents" style:"display: none">
    <table class='spreadsheet'>
        {% for student in students %}
            <tr>
                <td> {{ student }} </td>
            </tr>
        {% endfor %}
    </table>
</div>



    {% for grade, grade_dict in dict_rows.items %}
    <div class="section">
        <h2><a name="grade {{ grade }}" href="#grade_{{ grade }}">Grade {{ grade }}</a></h2>
        <div class="contents" style:"display: none">
            <table class='spreadsheet'>
                <tr>
                    <td><strong>Student ID</strong></td> 
                    <td><strong>Birthday</strong></td> 
                    <td><strong>Gender</strong></td> 
                    <td><strong>Program</strong></td> 
                    <td><strong>Homeroom Teacher</strong></td> 
                    <td><strong>Attendance</strong></td> 
                    <td><strong>Suspensions</strong></td> 
                    <td><strong>Math?</strong></td> 
                    <td><strong>ELA</strong></td> 
                    <td><strong>Home Language</strong></td> 
                    <td><strong>Race</strong></td> 
                </tr>
                {% for student in grade_dict %}
                <tr class={% cycle '' 'row2' %}>
                    <td>{{ student.id }}</td>
                    <td>{{ student.dob2 }}</td>
                    <td>{{ student.gen }}</td>
                    <td>
                        {% ifequal student.program 'Nb' %}
                            Neighborhood
                            {% else %}{% ifequal student.program 'Ch' %}
                                Choice
                                {% else %}
                                    {{ student.program }}
                        {% endifequal %}
                        {% endifequal %}
                    </td>
                    <td>{{ student.hr }}</td>
                    <td>{{ student.att }} %</td>
                    <td>{{ student.susp }}</td>
                    <td>{{ student.math }}</td>
                    <td>{{ student.ela }}</td>
                    <td>{{ student.homelang }}</td>
                    <td>{{ student.race }}</td>
               </tr>
               {% endfor %}
            </table>
        </div>
    </div>
{% endfor %}

{% endblock %}
