{% extends "pstp/base.html" %}

{% block primary %} 

{%for subject, mysubheader in sub_dict.iteritems %}        
    <h1>{{subject}}</h1> 
    {% for subheader, ga in mysubheader.iteritems %}
        <hr /> 
        <br /> 
        <h2> {{subheader}}</h2>
        <div class="contents">
            <table class= "grid_8 suffix_4" cellpadding="0" cellspacing="0"> 
                {% for value in ga %}
                <tr> 
                    <td>{{value}}</td>
                    <td>{{value.grade}}</td>
                </tr> 
                {% endfor %}
            </table>
        </div>
        <div class = "grid_12 alpha omega" >
           <div class = "grid_4 omega ">
                <form method="Post">
                    <h4>Teacher</h4>
                    <textarea style="width:97%" name='Teacher' rows="5"> 
                    </textarea> 
                    <input type ="submit" value = "Save" />
                </form> 
            </div>
            <div class = "grid_4 omega ">
            <form method="Post">
                <h4>Parent</h4>
                <textarea style="width:97%" name='Parent' rows="5"> 
                </textarea> 
                <input type ="submit" value = "Save" />
            </form> 
            </div>
            <div class = "grid_4 omega">
            <form method="Post">
                <h4>Student</h4>
                <textarea style="width:97%" name='Student' rows="5"> 
                </textarea> 
                </textarea> 
                <input type ="submit" value = "Save" />
            </form> 
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% endblock%}
