{% extends "base.html" %}

{% block primary %}

{% for subject, mysubheader in sub_dict.iteritems %}
    <h2 class="subject grid_12" style="margin-bottom:0em" >{{subject}}</h2>
    {% for subheader, ga in mysubheader.iteritems %}
        <div class="hr grid_12 alpha "></div>
        <h3 style="margin-top: 10px;" class="grid_12 omega">{{subheader}}:</h3>
            <table class= "grid_8 rubric " cellpadding="0" cellspacing="0">
                <tr class="grid_8 alpha">
                    <td><h4 style="margin-bottom: 0px;"> Grading Rubrics </h4></td>
                </tr>
                {% for value in ga %}
                <tr class="grid_8 alpha">
                    {% if value.grade == "N/A" %}
                        <td style="color:#444;" class="grid_5 alpha" >{{value}}</td>
                        <td style="text-align:right; color:#444;" class="grid_2 omega">{{value.grade}}</td>
                    {% else %}
                        <td class="grid_5 alpha" >{{value}}</td>
                        <td style="text-align:right;" class="grid_2 omega">{{value.grade}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <table class="grid_3 omega">
            <tr> <td>
                <h4 style="margin-bottom: 0px;"> My Tests </h4>
            </td> </tr>
                    <tr>
                        <td>Verbal Assessment </td>
                        <td>60/100</td>
                    </tr>
                    <tr>
                        <td>Semester Essay </td>
                        <td>60/100</td>
                    </tr>
                </tr>
            </table>
        <div style="display:block" class = "grid_12 alpha omega" >
            <div class = "grid_4 suffix_8">
            <h3> Success Plan and Notes </h3>
            </div>
           <div class = "grid_4 omega ">
                <form class="form" method="Post">
                    <h4>Teacher</h4>
                    <textarea style="width:97%" name='Teacher' rows="9">Write here what you are planning to do for $STUDENT over the next semester.</textarea>
                    <div class="grid_2 alpha">
                        <a style="color:#444;" href="">history</a>
                    </div>
                    <div class="grid_1">&nbsp; </div>
                    <div class="grid_1 omega">
                        <input style="width:97%;" type="submit" value = "Save" />
                    </div>
                </form>
            </div>
            <div class = "grid_4 omega ">
            <form class="form" method="Post">
                <h4>Parent</h4>
                <textarea style="width:97%" name='Parent' rows="9">
                </textarea>
                <div class="grid_2 alpha">
                    <a style="color:#444;" href="">history</a>
                </div>
                <div class="grid_1">&nbsp; </div>
                <div class="grid_1 omega">
                    <input style="width:97%;" type="submit" value = "Save" />
                </div>
            </form>
            </div>
            <div class = "grid_4 omega">
            <form class="form" method="Post">
                <h4>Student</h4>
                <textarea style="width:97%" name='Parent' rows="9">
                </textarea>
                <div class="grid_2 alpha">
                    <a style="color:#444;" href="">history</a>
                </div>
                <div class="grid_1">&nbsp; </div>
                <div class="grid_1 omega">
                    <input style="width:97%;" type="submit" value = "Save" />
                </div>
            </form>
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% endblock%}
